@model HomeShowCoursesViewModel

<h2>Courses</h2>
<table class="table table-hover table-responsive">
    <tr>
        <th>Course title</th>
    </tr>
    @* loop through coursetitles *@
    @foreach(var course in Model.Courses)
    {
        <tr>
            <td><a href="courses/@course.Id/students"> @course.CourseTitle</a></td>
        </tr>
    }
</table>

