@model HomeShowStudentsInCourseViewModel

<h2>@Model.CourseTitle </h2>
@foreach (var teacherName in Model.TeacherNames)
{
    <i>@teacherName</i>
}
    <table class="table table-hover table-responsive">
        <tr>
            <th>Student names</th>
        </tr>
        @* loop through studentNames*@
        @foreach (var studentName in
          Model.StudentNames)
        {
            <tr>
                <td>@studentName</td>
            </tr>
        }
    </table>

